{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}
  <div class="max-w-lg mx-auto">
    <h1>Please login your account</h1>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
    <button type="submit" class="w-full bg-blue-500 text-white hover:bg-blue-600 px-3 py-1 rounded-md">Login</button>
    </form>
        <div class="py-3 mt-3">
            <a class="hover:text-blue-500" href="{% url 'password-reset'%}">Forgot your password?</a>
        </div>
    </div>
 {% endblock content %}
